.automatico {
    color: rgb(255, 255, 255);
    font-weight: 800;
    border-radius: 10px;
    background: linear-gradient(262deg, rgb(255, 120, 84), rgb(253, 38, 125));
    width: 84px;
    height: 20px;
    margin-left: 10px;
}